html,
body {
    width: 100%;
    margin: 0;

    #__next {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        & > div {
            width: 390px;
            min-height: 600px;
            border: 1px solid black;
        }
    }
}
